@model Solution.Presentation.Models.gmail

@{
    
    Layout = "~/Views/Shared/thaer_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Indexmail</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "EmailSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            <center>
                <hr />
                <table>


                    <tr>
                        <td style="width: 80px">
                            To :
                        </td>
                        <td> @Html.TextBoxFor(model => model.To)</td>
                    </tr>

                    <tr>
                        <td>
                            Subject :
                        </td>
                        <td>@Html.TextBoxFor(model => model.Subject)</td>
                    </tr>

                    <tr>
                        <td valign="top">
                            Body :
                        </td>
                        <td>@Html.TextAreaFor(model => model.Body, new { rows = "15", cols = "25" })</td>
                    </tr>

                    <tr>

                        <td>

                            <input type="submit" value="Send" />
                        </td>
                    </tr>
                </table>
                <br />

                <span style=" color green"> @ViewBag.Message</span>
            </center>

        }

        </div>
    </body>
</html>
