@model IEnumerable<Solution.Presentation.Models.OrderVm>

@{
    ViewBag.Title = "GetOrders";
   
}



<h2>GetOrders</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Price
        </th>
        <th>
            Order Date
        </th>
        <th>
            Product Quantity
        </th>
        <th>
            Total Price
        </th>

    </tr>
    @{
        int Total = 0;
    }

    @foreach (var item in Model)
    {

        int TotalPrice = Convert.ToInt32(item.ProductQuantity * item.Price);
        Total = Convert.ToInt32(Total + TotalPrice);

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>


            <td></td>
          
        </tr>
    }
    <tr>
        <td colspan="5" class="text-right"><b> total : @Total </b></td>
        <
    </tr>>

</table>